.search-box {
    
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.search-box input {
    padding: 5px;
    width: 70%;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 20px;
    background-color: #111827;
    color: white;
}
.search-box button {
    padding: 15px 0;
    width: 25%;
    background-color: #f53163;
    border: none;
    outline: none;
    color: #ffffff;
    border-radius: 30px;
    font-size: 15px;
}
.search-box button:active {
    background-color: red;
}


.result {
    position: relative;
}
.result h3 {
    font-size: 30px;
    color: white;
}
.result .word {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.result button {
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    font-size: 18px;
}
.result .details {
    display: flex;
    gap: 10px;
    color: white;
    margin: 5px 0 20px 0;
    font-size: 14px;
}
.word-meaning {
    color: white;
}
.word-example {
    color: white;
    font-style: italic;
    border-left: 5px solid white;
    padding-left: 20px;
    margin-top: 30px;
}
.error {
    margin-top: 80px;
    text-align: center;
}

::placeholder {
    color: white;
    
  }