body {
    display: flex;
  justify-content: center;
    height: 100vh;
    font-family: Montserrat;
    background-image: url("../images/sky.jpg");
    background-size:cover;

    transition: 0.5s
    
  }
  