#task-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "taskform tasklist";
    margin-top: 10px;
    margin-bottom: 30px;
    
}

#taskform {
    grid-area: taskform;
    max-width: 300px;
    margin: 0 auto;
    

    label {
        display: block;
        width: 100%;
        font-weight: bold;
    }
}

#taskform input {
margin-top: 10px;
background-color: #374151;
color:white;
outline: none;
padding: 10px;
border-radius: 3px;
border: none;
}

#taskform label {
    margin-top: 10px;
    color: white;
}

#tasklist {
  margin-top: 20px;

}

#submit {
    margin-top: 20px;
    padding: 10px 24px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
  font-weight: 500;
    font-size: 16px;
    background-color: #111827;
    color: white;
    text-decoration: none;
}

#submit:hover {
    background-color: #374151;
}

ul {
    color: white;
}




  .todo-container {
   height: 500px;
    
    display: flex;
  }
  
  .status {
    width: 25%;
    background-color: #111827;
    position: relative;
    padding: 60px 1rem 0.5rem;
  }
  

  
  .status h1 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #374151;
    color: #f3f3f3;
    margin: 0;
    width: 100%;
    padding: 0.5rem 1rem;
    font-size:14px;
    font-family: Montserrat;
  }
  

  
  .todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100px;
    color: black;
    background-color: #fff;
    box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
      rgba(15, 15, 15, 0.1) 0px 2px 4px;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    font-size: 12px;
    margin: 0.5rem 0;
    font-family: Montserrat;
  }
  
  .todo .close {
    position: absolute;
    right: 1rem;
    top: 0rem;
    font-size: 2rem;
    color: #ccc;
    cursor: pointer;
  }
  
  .todo .close:hover {
    color: #343444;
  }
  

  #nav-info {
      text-align: center;
      margin-top: 30px;
      
  }